* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
}

main {
  background: url(imagens/cartaohorus.svg) center no-repeat;

  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

ul {
  margin-top: 37rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.9rem;

  justify-content: center;
}
